<!-- PAGE CONTENT ENDS HERE -->
</div><!--/row-->

</div><!--/#page-content-->


<div id="ace-settings-container">
  <div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
    <i class="icon-cog"></i>
  </div>
  <div id="ace-settings-box">
    <div>
      <div class="pull-left">
        <select id="skin-colorpicker" class="hidden">
          <option data-class="default" value="#438EB9">#438EB9</option>
          <option data-class="skin-1" value="#222A2D">#222A2D</option>
          <option data-class="skin-2" value="#C6487E">#C6487E</option>
          <option data-class="skin-3" value="#D0D0D0">#D0D0D0</option>
        </select>
      </div>
      <span>&nbsp; Choose Skin</span>
    </div>
    <div><input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" /><label class="lbl" for="ace-settings-header"> Fixed Header</label></div>
    <div><input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" /><label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label></div>
  </div>
</div><!--/#ace-settings-container-->


</div><!-- #main-content -->


</div><!--/.fluid-container#main-container-->




<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- basic scripts -->
<%= javascript_include_tag "jquery-1.9.1.min" %>
<%= javascript_include_tag "bootstrap.min" %>

<!-- page specific plugin scripts -->


<!-- ace scripts -->
<%= javascript_include_tag "ace-elements.min" %>
<%= javascript_include_tag "ace.min.js" %>

<!-- inline scripts related to this page -->
<script language="javascript" type="text/javascript">

  function clearContents(element) {
    element.value = '';
  }

  function addtext() {
    var line1 = "        ++++ REPLACE";
    var line2 = "        probe = FPing";
    var line3 = "        menu = ";
    var line4 = "        title = ";
    var line5 = "        host = ";

    var fping_counter = 0;
    var patt = /\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b/g;
    var stringArray = document.getElementById('inputtext').value.split('\n');
    stringArray = stringArray.filter(function(n){return n});

    document.myform.outputtext.value = "";
    for (var i = 0; i < stringArray.length; ++i) {
      document.myform.outputtext.value = document.myform.outputtext.value + "\n"
        + line1 + "\n"
        + line2 + fping_counter + "\n"
        + line3 + stringArray[i].replace(patt, "").trim() + "\n"
        + line4 + stringArray[i] + "\n"
        + line5 + " " + stringArray[i].match(patt) + "\n";

      if (fping_counter == 9) {fping_counter = 0;} else {fping_counter++;}
    }
  }

</script>

</body>
</html>
